<!--Rider view, use ejs to check if their facebook credentials is the original Facebook user or not-->
<div class="col-md-4" >
    <div >
        <h2>
            <%= routeData.driver.facebook.name.split(' ')[0] %>'s Route
        </h2>
        <form class="row" action="rider"></form>

        <% if (user._id == routeData.driver._id) { %>
          <div class="panel panel-default" >
            <div class="panel-heading" id="link-panel">
                <div class="col-md-6">
                    Get shareable link  <span class="glyphicon glyphicon-paperclip" style="padding-right: 5px; padding-top:10px"> </span>
                </div>
                <div class="col-md-push-3" id="copy-link">
                    <a class="btn btn-md"> Copy link </a>
                </div>
            </div>
            <div class="panel-body getlink-container">
                <input onClick="select()"  class=" form-control" readonly="readonly" value="http://localhost:5000/route?id=<%= routeData._id %>"> </input>
            </div>
          </div>
        <% } else { %>
          <form action="/route/addrider" method="post">
            <span> <i class="material-icons">place</i> </span> <input id="pac-input" name="address" class="controls" autofocus="autofocus" type="text" placeholder="Enter dropoff address..." onPaste="" onkeydown="if (event.keyCode == 13) { return false;}">
            <br><br>
            <input type="hidden" name="routeId" value="<%= routeId %>">
            <button>Confirm</button>
          </form>
        <% } %>
        <hr>

        <div class="form-inline editableform">
          <div id="originTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">my_location</i>
            <input id="editOriginInput" type="text" class="form-control input-sm" style="width:60%" value="<%= routeData.origin %>" onkeydown="if (event.keyCode == 13) { editableDone(true, 'origin'); }">
            <button type="button" class="btn btn-primary btn-sm editable-submit" onclick="javascript:editableDone(true, 'origin')">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm editable-cancel" onclick="javascript:editableDone(false, 'origin')">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
          <div id="originText" style="font-size:18px">
            <i class="material-icons" style="font-size:18px">my_location</i>
            <span class="<%= user ?'editableInput' : '' %>"><%= routeData.origin %></span>
          </div>
        </div>

        <i class="material-icons" style="font-size:18px">arrow_downward</i><br>

        <div class="form-inline editableform">
          <div id="destinationTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">my_location</i>
            <input id="editDestinationInput" type="text" class="form-control input-sm" style="width:60%" value="<%= routeData.destination %>"  onkeydown="if (event.keyCode == 13) { editableDone(true, 'destination'); }">
            <button type="button" class="btn btn-primary btn-sm editable-submit" onclick="javascript:editableDone(true, 'destination')">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm editable-cancel" onclick="javascript:editableDone(false, 'destination')">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
          <div id="destinationText" style="font-size:18px">
            <i class="material-icons" style="font-size:18px">place</i>
            <span class="<%= user ?'editableInput' : '' %>"><%= routeData.destination %></span>
          </div>
        </div>

        <br>


        <div class="form-inline editableform">
          <div id="seatsTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">event_seat</i>
            <span style="">Total riders you can take:</span>
            <input id="editSeatsInput" type="text" class="form-control input-sm" value="<%= routeData.seats %>"  onkeydown="if (event.keyCode == 13) { editableDone(true, 'seats'); }">
            <button type="button" class="btn btn-primary btn-sm editable-submit" onclick="javascript:editableDone(true, 'seats')">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm editable-cancel" onclick="javascript:editableDone(false, 'seats')">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>

          <div id="seatsText" style="">
            <i class="material-icons" style="font-size:18px">event_seat</i>
            <text style="font-size:18px">Seats left: </text>
            <span style="font-size:18px" class="<%= user ?'editableInput' : '' %>">
              <%= routeData.seats - routeData.confirmedRiders.length %>
            </span>
          </div>
        </div>


        <div class="form-inline editableform">
          <div id="dateTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">event</i>
            <input id="editDateInput" type="text" class="form-control input-sm" value="<%= (routeData.date.getMonth() + 1) + '/' + routeData.date.getDate() + '/' +  routeData.date.getFullYear() %>"  onkeydown="if (event.keyCode == 13) { editableDone(true, 'date'); }">
            <button type="button" class="btn btn-primary btn-sm editable-submit" onclick="javascript:editableDone(true, 'date')">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm editable-cancel" onclick="javascript:editableDone(false, 'date')">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>

          <div id="dateText" style="">
            <i class="material-icons" style="font-size:18px">event</i>
            <span style="font-size:18px" class="<%= user ?'editableInput' : '' %>">
              <%= (routeData.date.getMonth() + 1) + '/' + routeData.date.getDate() + '/' +  routeData.date.getFullYear() %>
            </span>
          </div>
        </div>

        <br><br>
        <div id="tableDiv" class="container-fluid row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th> Rider </th>
                    <th> Inconvenience cost </th>
                    <th> Confirmed </th>
                </tr>
                </thead>
                <tbody id="riderTable"></tbody>
            </table>
        </div>
    </div>
</div>
