<div class="modal fade" id="facebookModal" tabindex="-1" role="dialog" aria-labelledby="facebookModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">We made an example Facebook post just for you! Feel free to copy and paste it :) </h4>
          <hr>
      </div>
      <div class="modal-body">
        <% days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
<!--
Use javascript to input into textarea
        <div class="form-group">
          <label for="comment">Post to Facebook:</label>
          <textarea class="form-control" rows="7" id="comment">
            <div>
            <div>Driving to <%= routeData.destination %> on <%= days[routeData.date.getDay()] + " " + (routeData.date.getMonth() + 1) + "/" + routeData.date.getDate() %> around <%= routeData.time %>. <%= routeData.seats %> spots available, $<%= routeData.inconvenience %> per seat.</div>
            <br>
            <div>To all interested riders, enter your drop-off location in the link below and I'll confirm you if I see a fit! Otherwise you'll be added to the waitlist. PM me if you have any questions!</div>
          </div>
          </textarea>
        </div>
        -->
        <div contenteditable="true" id="contentEditableMessageDiv">
          <div>Driving to <%= routeData.destination %> on <%= days[routeData.date.getDay()] + " " + (routeData.date.getMonth() + 1) + "/" + routeData.date.getDate() %> around <%= routeData.time %>. <%= routeData.seats %> spots available, $<%= routeData.inconvenience %> per seat.</div>
          <br>
          <div>To all interested riders, enter your drop-off location in the link below and I'll confirm you if I see a fit! Otherwise you'll be added to the waitlist. PM me if you have any questions!</div>
          <br>
          <a id="selfLink"></a>
        </div>

        <!--<textarea>
          Driving to <%= routeData.destination %> on <%= days[routeData.date.getDay()] + " " + (routeData.date.getMonth() + 1) + "/" + routeData.date.getDate() %> around <%= routeData.time %>. <%= routeData.seats %> spots available, $<%= routeData.inconvenience %> per seat.

          To all interested riders, enter your drop-off location in the link below and I'll confirm you if I see a fit! Otherwise you'll be added to the waitlist. PM me if you have any questions!

        </textarea>
        <a id="selfLink"></a>-->

      </div>
        <hr>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Done">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="setUpPaymentModal" tabindex="-1" role="dialog" aria-labelledby="setUpPaymentModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Set up payment methods</h4>
      </div>
      <div class="modal-body">
        Stuff for setting up deposit
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Done">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="tellDriverToWait" tabindex="-1" role="dialog" aria-labelledby="tellDriverToWait">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Rider added</h4>
      </div>
      <div class="modal-body">
        <% if (routeData.requireInitialDeposit) { %>
          Thanks for adding <span id="addedRider"></span>. Sit tight while <span id="riderPronounHeShe"></span> pays <span id="riderPronounHisHer"></span> initial deposit. We'll let you know when he does!
        <% } else { %>
          Thanks for adding <span id="addedRider"></span>. Contact <span id="riderPronounHimHer"></span> to discuss details such as pickup loaction, bagage space etc.
        <% } %>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Done">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="paymentConfirmed" tabindex="-1" role="dialog" aria-labelledby="paymentConfirmed">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Payment Accepted</h4>
      </div>
      <div class="modal-body">
        Thanks for paying your initial deposit. Message <%= routeData.driver.facebook.name.split(' ')[0] %> to hammer out any details such as pick up location, bagage space, etc.
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Done">
      </div>
    </div>
  </div>
</div>

<% include ./paymentModal %>


<div class="modal fade" id="lessThanZeroSeats" tabindex="-1" role="dialog" aria-labelledby="lessThanZeroSeats">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lessThanZeroSeatsTitle">You've already confirmed <span id="numConfirmedRiders"><%= routeData.confirmedRiders.length %></span> riders</h4>
      </div>
      <div class="modal-body">
        If you can no longer take some riders, please let them know ASAP.
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Done">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="confirmAddRider" tabindex="-1" role="dialog" aria-labelledby="confirmAddRider">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lessThanZeroSeatsTitle">Join Ride</h4>
      </div>
      <div class="modal-body">
        How much baggage will you have
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option>None</option>
            <option>A small bag</option>
            <option>A large bag</option>
            <option>Two bags</option>
            <option>More than two bags</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-success" onclick="addOrUpdateRider(this)" value="Join">
        <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
      </div>
    </div>
  </div>
</div>

<!--Rider view, use ejs to check if their facebook credentials is the original Facebook user or not-->
<div class="col-md-4" style="overflow: scroll; height:100%">
    <div>
        <div style="background-color:#c5d9f9; border-radius: 5px">
          <h2>
            <a href="<%= routeData.driver.facebook.link %>">
              <% var src = "" %>
              <% if (routeData.driver.facebook.photos && routeData.driver.facebook.photos.length > 0 && routeData.driver.facebook.photos[0].value) { src = routeData.driver.facebook.photos[0].value; } %>
              <img align="middle" src="<%= src %>"></img>
            </a>
            <%= routeData.driver.facebook.name.split(' ')[0] %>'s Route
          </h2>
        </div>

        <form class="row" action="rider"></form>
        <% if (user) { %>
          <% if (isDriver && view != "rider") { %>
            <div class="panel panel-default" >
                <!-- style="overflow:hidden; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;" -->
              <div class="panel-heading panel-button btn-group" id="link-panel" style="display: flex; justify-content: space-between">
                <a class="btn btn-md" onclick="toggleShareableLink()" href="javascript:void(0);">
                    <span id="getLinkText">Copy link</span>  <span class="glyphicon glyphicon-paperclip" > </span>
                </a>
                <a class="btn btn-md" href="/route?id=<%= routeData.shortId || routeData._id %>&view=rider">
                    <span id="getLinkText">View as Rider</span>
                </a>
                <a class="btn btn-md" onclick="showFBModal()" href="javascript:void(0);"> Show Post </a>

                <!--
                <div class="col-md-4 span4" style="display: inline-block; width: calc(1/3*100% - (1 - 1/3)*10px);">
                    <a class="btn btn-md" onclick="toggleShareableLink()" href="javascript:void(0);">
                      <span id="getLinkText">Copy link</span>  <span class="glyphicon glyphicon-paperclip" > </span>
                    </a>
                </div>
                <div class="col-md-4 span4" style="display:inline-block; width: calc(1/3*100% - (1 - 1/3)*10px);">
                    <a class="btn btn-md" target="_blank" href="/route?id=<%= routeData.shortId || routeData._id %>&view=rider">
                      <span id="getLinkText">View as Rider</span>
                    </a>
                </div>
                <div class="col-md-4 span4" id="copy-link" align="right" style="display:inline-block; width: calc(1/3*100% - (1 - 1/3)*10px);">
                    <a class="btn btn-md" onclick="showFBModal()" href="javascript:void(0);"> Show Post </a>
                </div>
                -->
              </div>
              <div id="shareableLink" class="panel-body getlink-container" style="display:none">
                  <input onClick="select()" class=" form-control" readonly="readonly" value=""> </input>
              </div>
            </div>
          <% } else { %>
            <% var location = ""; %>
            <% if (user && routeData.dropOffs) { %>
             <% location = routeData.dropOffs[user._id] %>
            <% } %>
            <div id="dropOffTextEditable" style="display:none">
              <form action="javascript:return false">
                <span> <i class="material-icons">place</i> </span> <input id="pac-input" style="width:60%;" name="address" class="controls" type="text" placeholder="Enter dropoff address..." value="<%=location %>" autofocus>
                <input type="hidden" name="routeId" value="<%= routeId %>">
                <button id="requestRideButtonConfirm" type="button" class="btn btn-primary btn-sm editable-submit">
                  <i class="glyphicon glyphicon-ok"></i>
                </button>
                <button id="requestRideButtonCancel" type="button" class="btn btn-default btn-sm editable-cancel">
                  <i class="glyphicon glyphicon-remove"></i>
                </button>
                <br><br>
              </form>
            </div>
            <div id="dropOffText" style="display:none">
              <% if (confirmedRider) { %>
                <text>You've got a ride with <%= routeData.driver.facebook.name.split(' ')[0] %> to</text>
                <span class="<%= confirmedRider ? "" : 'editableInput' %>"><%= location %></span>
              <% } else { %>
                <text>You've requested a ride with <%= routeData.driver.facebook.name.split(' ')[0] %> to</text>
                <span class="<%= confirmedRider ? "" : 'editableInput' %>"><%= location %></span><br/>
              <% } %>
            </div>
            <button id="cancelRequestButton" style="display:none;" class="btn btn-primary btn-sm" onclick="javascript:cancelRequest(this)">
              Cancel Request
            </button>

            <% if (confirmedRider && !routeData.riderStatus[user._id].paid && routeData.requireInitialDeposit) { %>
              <button type="button" class="btn btn-primary" onclick="showPaymentModal()">Pay initial deposit</button>
              <div style="font-size:18px" id="countDown">2hr</div>
              <div>The driver may drop you if you don't put up the intial deposit on time</div>
            <% } %>
          <% } %>
        <% } else {  %>
          <a href="/auth/facebook?redirect=<%= encodeURIComponent('/route?id=' + (routeData.shortId || routeData._id)) %>")>
            Login to Facebook to <%= routeData.confirmedRiders.length >= routeData.seats ? "join the waitlist" : "request a ride" %>
          </a>
        <% } %>

        <% if (isDriver && view == "rider") { %>
          <a class="btn btn-md" href="/route?id=<%= routeData.shortId || routeData._id %>">
              <span id="getLinkText">View as Driver</span>
          </a>
        <% } %>

        <br>
        <hr style="height: 3px; background-color: gray">

        <div id="rideIsFull" style="display:none">
          <button class="info btn <%= isDriver && view != "rider" ? 'btn-success' : 'btn-danger'; %>" style="background-color:black">Ride is FULL</button>
        </div>
        <br>

        <div class="form-inline editableform">
          <div id="originTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">my_location</i>
            <input id="editOriginInput" type="text" class="form-control input-sm" style="width:60%" value="<%= routeData.origin %>">
            <button id="originTextButtonConfirm" type="button" class="btn btn-primary btn-sm editable-submit">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button id="originTextButtonCancel" type="button" class="btn btn-default btn-sm editable-cancel">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
          <div id="originText" style="font-size:18px">
            <i class="material-icons" style="font-size:18px">my_location</i>
            <span class="<%= isDriver && view != "rider" ?'editableInput' : '' %>"><%= routeData.origin %></span>
          </div>
        </div>

        <div id="stops"></div>
        <% if (isDriver && view != "rider") { %>
          <button id="addStopButton" class="btn btn-primary" style="width:200px; margin-left: 12px;">
            Add Stop
          </button>
        <% } %>

        <div class="form-inline editableform">
          <div id="destinationTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">my_location</i>
            <input id="editDestinationInput" type="text" class="form-control input-sm" style="width:60%" value="<%= routeData.destination %>">
            <button id="destinationTextButtonConfirm" type="button" class="btn btn-primary btn-sm editable-submit">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button id="destinationTextButtonCancel" type="button" class="btn btn-default btn-sm editable-cancel">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
          <div id="destinationText" style="font-size:18px">
            <i class="material-icons" style="font-size:18px">place</i>
            <span class="<%= isDriver && view != "rider" ?'editableInput' : '' %>"><%= routeData.destination %></span>
          </div>
        </div>

        <br>


        <div class="form-inline editableform">
          <div id="seatsTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">event_seat</i>
            <span style="">Total riders you can take:</span>
            <input id="editSeatsInput" type="text" class="form-control input-sm" value="<%= routeData.seats %>">
            <button id="seatsTextButtonConfirm" type="button" class="btn btn-primary btn-sm editable-submit">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button id="seatsTextButtonCancel" type="button" class="btn btn-default btn-sm editable-cancel">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>

          <div id="seatsText" style="">
            <i class="material-icons" style="font-size:18px">event_seat</i>
            <text style="font-size:18px">Seats left: </text>
            <span style="font-size:18px" class="<%= isDriver && view != "rider" ?'editableInput' : '' %>">
              <%= routeData.seats - routeData.confirmedRiders.length %>
            </span>
          </div>
        </div>


        <div class="form-inline editableform">
          <div id="dateTextEditable" style="display:none">
            <i class="material-icons" style="font-size:18px">event</i>
            <input id="editDateInput" type="text" class="form-control input-sm" value="<%= (routeData.date.getMonth() + 1) + '/' + routeData.date.getDate() + '/' +  routeData.date.getFullYear() %>">
            <button id="dateTextButtonConfirm" type="button" class="btn btn-primary btn-sm editable-submit">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button id="dateTextButtonCancel" type="button" class="btn btn-default btn-sm editable-cancel">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>

          <div id="dateText" style="">
            <i class="material-icons" style="font-size:18px">event</i>
            <span style="font-size:18px" class="<%= isDriver && view != "rider" ?'editableInput' : '' %>">
              <%= (routeData.date.getMonth() + 1) + '/' + routeData.date.getDate() + '/' +  routeData.date.getFullYear() %>
            </span>
          </div>
        </div>

        <% if (routeData.time != "") { %>
          <div class="form-inline editableform">
            <div id="timeTextEditable" style="display:none">
              <i class="material-icons" style="font-size:18px">event</i>
              <input id="editTimeInput" type="text" class="form-control input-sm" value="<%= routeData.time %>">
              <button id="timeTextButtonConfirm" type="button" class="btn btn-primary btn-sm editable-submit">
                <i class="glyphicon glyphicon-ok"></i>
              </button>
              <button id="timeTextButtonCancel" type="button" class="btn btn-default btn-sm editable-cancel">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </div>

            <div id="timeText" style="">
              <i class="material-icons" style="font-size:18px">access_time</i>
              <span style="font-size:18px" class="<%= isDriver && view != "rider" ?'editableInput' : '' %>">
                <%= routeData.time %>
              </span>
            </div>
          </div>
        <% } %>


        <div id="costText" style="">
          <i class="material-icons" style="font-size:18px">attach_money</i>
          <span style="font-size:18px">
            <%= routeData.inconvenience %>
          </span>
        </div>

        <div id="infoText" style="font-size:18px; padding-left: 20px; font-weight: bold"></div>

        <br><br>
        <div style="font-size:24px">Riders</div>
        <div id="tableDiv" class="container-fluid row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th> Rider </th>
                    <th> Status </th>
                    <th> Baggage </th>
                </tr>
                </thead>
                <tbody id="riderTable"></tbody>
            </table>
            <p style="display:none" id="tableMessage"></p>
        </div>
        <div style="display:none" id="waitListTable" class="container-fluid row">
          <div style="font-size:24px">Waitlist</div>
          <table class="table table-striped table-hover">
              <thead>
              <tr>
                  <th>#</th>
                  <th> Rider </th>
                  <th> Status </th>
              </tr>
              </thead>
              <tbody id="waitlistRiderTable"></tbody>
          </table>
        </div>
    </div>
</div>
