<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--<link rel="icon" href="../../favicon.ico"> -->

    <title>Routepen</title>


    <!-- JQUERY LIRARIES -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css">


    <script src="https://code.jquery.com/jquery-1.12.4.js"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"> </script>
    <!--
    <script type="text/javascript" src="/js/jquery.timepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.timepicker.css" />
    <script type="text/javascript" src="/js/bootstrap-datepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.css" />
-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <!-- editable text -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">

    <link type="text/css" href="/css/bootstrap-timepicker.min.css" />
    <script type="text/javascript" src="/js/bootstrap-timepicker.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
   <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    [endif]-->
</head>

<body style="overflow:hidden;">

<% include ./partials/displays/navbar %>

<div id="alertbox" style="display:none; position: fixed; top:10px; width: 20%; z-index:1000000; margin-left: 40%" class="alert alert-danger" role="alert">
  <center>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <span id="errorMessage"></span>
  </center>
</div>

<div id="content" class="fill">
  <center style="margin-top: 50px;"><span style="font-size:20px">Are any of these yours?</span></center>
  <div style="width: 50%; margin-left: 5%">
    <table class="table" style="margin-top: 50px">
        <thead>
          <tr class="riderElement-inverse" >
              <th> </th>
              <th>#</th>
              <th> </th>
              <th> Origin </th>
              <th> Destination </th>
              <th> Cost </th>
              <th> Date </th>
          </tr>
        </thead>
        <tbody id="tbody">
          <% for (var i = 0; i < routes.length; i++) { %>
              <tr class="closeRoutesRow riderElement riderElement-inverse clickable">
                  <td> <input class="myCheckbox" type="checkbox"> </td>
                  <td> <%= i+1 %> </td>
                  <td> </td>
                  <td> <%= routes[i].origin %> </td>
                  <td> <%= routes[i].destination %> </td>
                  <td> $<%= routes[i].inconvenience %> </td>
                  <td> <%= routes[i].date.getMonth()+1 +  '/' + routes[i].date.getDate() %> </td>
                  <td class="id" style="display:none"><%= routes[i]._id %></span>
              </tr>
            <% } %>
         </tbody>
     </table>

     <br/>
     <button class="btn btn-success" onclick="clicked()">Save</button>
  </div>
</div>

</body>

<script type="text/javascript">
  function clicked() {

    var ids = [];
    $("tbody>tr").each(function(i, elem) {
      if ($(elem).find("input")[0].checked) {
        ids.push($(elem).find("td.id").html());
      }
    });

    var data = {
      ids: ids.map(function(id) { return id.trim(); }),
      redirect: "<%= redirect %>"
    }

    console.log("sending", data);
    $.post("/route/claim", data, function(data, text) {
      console.log("data, text:", data, text);

      window.location.href = data;
    })
  }
</script>
</html>
