<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <!--<link rel="icon" href="../../favicon.ico"> -->

    <title>RoutePen</title>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

     <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!--     <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
    <!-- Bootstrap core CSS -->

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css' rel='stylesheet'type='text/css'>


    <!--<link href="/css/new_landing.css" rel="stylesheet"> -->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/search_route.css" rel="stylesheet">


    <script type="text/javascript">  <% include ./partials/helpers/http %> </script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!-- <script src="../../assets/js/ie-emulation-modes-warning.js"></script> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="background-color:#0c84e4; overflow:hidden;">

<% include ./partials/displays/navbar %>


<div class="modal fade" id="baggageModal" tabindex="-1" role="dialog" aria-labelledby="baggageModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lessThanZeroSeatsTitle">Join Ride</h4>
      </div>
      <div class="modal-body">
        How much baggage will you have
        <div class="form-group">
          <select class="form-control" id="sel1">
            <option>None</option>
            <option>A small bag</option>
            <option>A large bag</option>
            <option>Two bags</option>
            <option>More than two bags</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-success" onclick="addOrUpdateRider(this)" value="Join">
        <input type="submit" class="btn btn-danger" data-dismiss="modal" value="Cancel">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="notificationsModal" tabIndex="-1" role="dialog" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"> Email Notifications </h4>
                  <hr>
            </div>
            <div class="modal-body">
                <b>For rides leaving between</b>
                <input id="date-start-notification" class="controls" type="text" placeholder="Date...">
                <b> and </b>
                <input id="date-end-notification" class="controls" type="text" placeholder="Date...">
                <input id="requestNotificationsButton" type="submit" class="btn btn-success" data-dismiss="modal" value="Submit">
            </div>
              <hr>
            <div class="modal-footer">
              <input type="submit" class="btn btn-primary" data-dismiss="modal" value="Done">
            </div>
        </div>
    </div>
</div>

<div id="content" class="fill">
    <div class="col-md-7">
        <div class="row" style="padding-top: 10px">
            <div class="row origin-destination-display">
                 <span style="font-size:20px; color: white">From: <%= origin %></span>
             </div>
             <div class="row origin-destination-display">
                  <span style="font-size:20px; color: white">To:  <%= destination %></span>
             </div>
         </div>
          <div class"row">
            <div class="panels">
                <div class="panel-heading">Receive instant email notifications when a new shared ride is relevant to you! Click Below</div>
                <div class="panel-body">
                    <button type="button" onclick = "toggleNotifications();" href="javascript:void(0);" class="btn btn-info"> Get notifications </button>
                </div>
            </div>
          </div>
          <!--
          <div class="row">
               <div class="col-md-4 offset-md-4">
                   <button type="button" onclick = "toggleNotifications();" href="javascript:void(0);" class="btn btn-info"> Get notifications </button>
               </div>
           </div>-->

          <div class="row">
              <button type="button" class="btn btn-warning" id="checkAll" style="margin-left: 20px;" onclick="checkall();"> Check all </button> <!-- TODO Redirect them to /routes/mine. Tell them to still message driver on fb to reach him/her -->
              <button type="button" class="btn btn-success" style="float: right; margin-right:20px" onclick = "baggageModal();"> Signup </button>
          </div>
          <div>
              <table class="table">
                  <thead>
                    <tr class="riderElement-inverse" >
                        <th> </th>
                        <th>#</th>
                        <th> Driver </th>
                        <th> Origin </th>
                        <th> Destination </th>
                        <th> Cost </th>
                        <th> Date </th>
                    </tr>
                  </thead>
                  <tbody id="tbody">
                    <!--
                        <% for (var i = 0; i < closeRoutes.length; i++) { %>
                            <tr class="closeRoutesRow riderElement riderElement-inverse clickable" onclick="'+ onclick + '">
                                <td> <input class="myCheckbox" type="checkbox"> </td>
                                <td> <%= i+1 %> </td>
                                <td> <%= closeRoutes[i].driver.facebook.name %> </td>
                                <td> <%= closeRoutes[i].origin %> </td>
                                <td> <%= closeRoutes[i].destination %> </td>
                                <td> <%= closeRoutes[i].inconvenience %> </td>
                                <td> <%= closeRoutes[i].date.getMonth()+1 +  '/' + closeRoutes[i].date.getDate() %> </td>
                            </tr>
                          <% } %> -->
                   </tbody>
                </table>
            </div>
            <div class="col-md-1 col-sm-0" style="visibility:hidden"></div>
        </div>
    <div class="col-md-5" id="map"></div>
</div>

<script type="text/javascript">

    var closeRoutes = <%- JSON.stringify(closeRoutes) %>;
    var origin = <%- JSON.stringify(origin) %>;
    var destination = <%- JSON.stringify(destination) %>;
    var user = <%- JSON.stringify(user || null) %>;
    if(user == null){
      window.location.href = '/auth/facebook?redirect=' + encodeURIComponent(window.location.href);
    }

    var me = this;

    var tbody = document.getElementById('tbody');

    function routeClick(routeId){
        console.log(closeRoutes.user);
        window.location.href = "/route?id=" + routeId;
    }
    function setUpTable() {
        //            '<td>' +  closeRoutes[i].date.getMonth()+1 +  '/' + closeRoutes[i].date.getDate() %> + '</td>';
      tbody.innerHTML = "";
      if (closeRoutes.length == 0) {
        tbody.innerHTML = '<tr><td style="color: white; font-size:18px">Sorry we weren\'t able to find any routes. Try another search!';
      }
      else {
        for (var i = 0; i < closeRoutes.length; i++) {
          //var d = new Date(closeRoutes[i].date);
          var onclick = "routeClick('" + (closeRoutes[i].shortId || closeRoutes[i]._id) + "')"
          tbody.innerHTML += '<tr class="riderElement riderElement-inverse clickable" data-value="' + closeRoutes[i]._id + '" onclick="' + onclick + '">' +
            '<td> <input class="myCheckbox" type="checkbox"> </td>' +
            '<td>' + (i+1) + '</td>' +
            '<td>' + closeRoutes[i].driver.facebook.name + '</td>' +
            '<td>' + closeRoutes[i].origin + '</td>' +
            '<td>' + closeRoutes[i].destination + '</td>' +
            '<td>$' + closeRoutes[i].inconvenience + '</td>' +
            '<td>' +  (1 + new Date(closeRoutes[i].date).getMonth()) + '/' + new Date(closeRoutes[i].date).getDate() + '</td>';
        }
      }
    }

    setUpTable();
    $('.myCheckbox').click(function(event){
          if(event.checked == true){
            event.checked = false;
          }
          else{
            event.checked = true;
          }
          event.stopPropagation();
    });
    // Autoscaling table
      var $table = $('table'),
          $bodyCells = $table.find('tbody tr:first').children(),
          colWidth;

      // Get the tbody columns width array
      colWidth = $bodyCells.map(function() {
          return $(this).width();
      }).get();

      // Set the width of thead columns
      $table.find('thead tr').children().each(function(i, v) {
          $(v).width(colWidth[i]);
      });

    $(function () {
        $("#date-start-notification").datepicker();
        $("#date-end-notification").datepicker();
    });

    function toggleNotifications(){
        $("#notificationsModal").modal('toggle');
    }

    function checkall(){
      $('.myCheckbox').each(function(event){
        this.checked = true;
      });
    }




    function baggageModal(){
        $("#baggageModal").modal('toggle');
    }

    // Sign up process for notifications
    $('#requestNotificationsButton').click(function() {
      var origin = "<%= origin %>";
      var destination = "<%= destination %>";
      var dateRange = [$('#date-start-notification').val(), $('#date-end-notification').val()];

      http.prototype.requestNotifications(origin, destination, dateRange, function(result, data) {

      });
    });

  //Signup Process for batch sending
    function addOrUpdateRider(){
        var number = 0;
        $('.myCheckbox').each(function(route){
          console.log(route);
            if(this.checked){
                http.prototype.searchAddRider(closeRoutes[route]._id, user.id, origin, destination, $('#sel1').val());
                number++;
            }
        });
        if(number == 0){
          //TODO do some action
          window.alert("please signup for a route");
        }
        else{
          //TODO do some action
          window.alert("Congrats you've successfully signed up for " + number + " rides"); //TODO change to green bootstrap
        }
    }


    var mapHandler, navbarManager;
    function initMap() {
        navbarManager = new NavBarAutocompleteHandler(); // Inside of navbar

        var map = new google.maps.Map(document.getElementById('map'), {
            mapTypeControl: false,
            center: {lat: 34.4140, lng: -119.8489},
            zoom: 13
        });

        mapHandler = new showRoute(map);
    }
    var markers = {}, infoWindows = {};


    function showRoute(map) {
        this.map = map;
        this.originPlaceId = null;
        this.destinationPlaceId = null;
        this.travelMode = 'DRIVING';
        this.directionsService = new google.maps.DirectionsService;
        this.geocoder = new google.maps.Geocoder();

        addRoute.call(this, "<%= origin %>", "<%= destination %>", [], this.map);

        var me = this;
        closeRoutes.forEach(function(route) {
          addRoute.call(me, route.origin, route.destination, route.waypoints, me.map);
        });
    }

    function addRoute(origin, destination, waypoints, map, callback) {
      var directionsDisplay = new google.maps.DirectionsRenderer;
      directionsDisplay.setMap(map);

      this.directionsService.route({
        origin: origin,
        destination:  destination,
        travelMode: this.travelMode,
      }, function(response, status) {
        if (status === 'OK') {
          directionsDisplay.setDirections(response);
          if (callback) callback();
        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeWLtoD-PTsiqaI1QuPR5y1Vas2P3QStA&callback=initMap&libraries=places"  async defer>
</script>

</body>
</html>
